# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
coverage/

# Local env & secrets
.env
*.local

# Firebase service account key
firebase-service-account.json

# Logs
logs/
*.log

# IDE/editor settings
.vscode/
.idea/

# macOS
.DS_Store

# Firebase
sso-service/allyworld-sso-firebase-adminsdk-fbsvc-a1317e2e04.json
